.Search {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.Search .invisible {
  display: none;
}

.Search .search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin: 0 auto;
  background-color: orange;
  align-items: center;
  padding: 20px 0;
  border-radius: 20px;
}

.search-wrapper input {
  width: 90%;
  border: none;
  background-color: transparent;
}

.Search .list-wrapper {
  width: 90%;
}