/* 스크롤바 스타일 변경 */
div::-webkit-scrollbar {
  width: 6px; /* 스크롤바 너비 */
  height: 50px;
}

div::-webkit-scrollbar-track {
  height: 200px;
  background: transparent; /* 스크롤바 트랙 색상 */
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(168 162 158); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

div::-webkit-scrollbar-thumb:hover {
  background: rgb(120 113 108); /* 스크롤바 색상 (hover 시) */
}
